# weixin 
WEIXIN_APP_TOKEN = 
WEIXIN_APP_ID = 
WEIXIN_APP_KEY = 
WEIXIN_APP_ENCODING_AES_KEY = 
#REDIS
REDIS_HOST_IP = 127.0.0.1
REDIS_HOST_PORT = 6379
#mysqldb
MYSQL_DB_HOST=127.0.0.1
MYSQL_DB_USER = root
MYSQL_DB_PWD = 
MYSQL_DB_NAME = hrwx